<!--begin::Portlet-->
<div class="kt-portlet" #tProtlet>
  <!-- <div class="kt-portlet__head taskHead">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title dataList">
        道路列表
      </h3>
    </div>
  </div> -->


  <div class="kt-portlet__body" style="overflow: auto; height: 500px;">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;">
        <th mat-header-cell *matHeaderCellDef class="text-center"> {{dataTitle[column]}} </th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <div class="click-cursor" *ngIf="!!element[column]; else tDel" (click)="switchOpen($event, element);">
            {{element[column]}}
          </div>
          <ng-template #tDel>
            <div #tDel (click)="runDelete(element)">
              <i class="flaticon2-delete delBtn click-cursor"></i>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail kt-form"
            [@detailExpand]="(element === this.expandedElement) ? 'expanded' : 'collapsed'">

            <div class="kt-portlet__body editorBkColor">
              <form (ngSubmit)="onSubmit(form, element)" #form="ngForm">
                <div class="form-group ">
                  <div class="">
                    <mat-form-field>
                      <mat-label>選擇日期</mat-label>
                      <input matInput [matDatepicker]="picker" required disabled [formControl]="element.yearInput"
                        (dateChange)="closeDatepicker($event, element)" name="year">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="exampleSelect1">行政區</label>
                  <select class="form-control" id="exampleSelect1" [(ngModel)]="element.TownId" name="town" required
                    (change)="changeTownText()">
                    <option disabled selected>請選擇</option>
                    <option [value]="item.Id" *ngFor="let item of towns">{{item.TownText}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>道路名稱</label>
                  <input type="email" class="form-control" placeholder="道路名稱" name="RoadName" required
                    [(ngModel)]="element.RoadName">
                </div>
                <div class="form-group">
                  <label>路段起點</label>
                  <input type="email" class="form-control" placeholder="路段起點" name="RoadStart" required
                    [(ngModel)]="element.RoadStart">
                </div>
                <div class="form-group">
                  <label>路段迄點</label>
                  <input type="email" class="form-control" placeholder="路段迄點" name="RoadEnd" required
                    [(ngModel)]="element.RoadEnd">
                </div>
                <div class="form-group">
                  <label>道路長度(公尺)</label>
                  <input type="number" class="form-control" placeholder="道路長度(公尺)" name="RoadLength" required
                    [(ngModel)]="element.RoadLength">
                </div>
                <div class="form-group">
                  <label>道路寬度(公尺)</label>
                  <input type="number" class="form-control" placeholder="道路寬度(公尺)" name="RoadWidth" required
                    [(ngModel)]="element.RoadWidth">
                </div>
                <div class="form-group">
                  <label>備註</label>
                  <input type="text" class="form-control" placeholder="請輸入..." name="Memo"
                    [(ngModel)]="element.Memo">
                </div>
                <button type="button" class="btn btn-outline-brand btn-icon"
                  (click)="isimgUploadOpen = !isimgUploadOpen">
                  <i class="fa fa-cloud-upload-alt"></i></button>
                <button type="submit" class="btn btn-warning btn-sm saveBtn">儲存</button>
              </form>
            </div>
          </div>
          <div class="card imgUpload" [ngClass]="{'open': isimgUploadOpen}">
            <div class="card-header kt-font-bolder">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-brand btn-icon"
                  (click)="isimgUploadOpen = !isimgUploadOpen">
                  <i class="fa fa-angle-double-up"></i></button>
                </div>
                <label class="margin-left-10px">缺失照片</label>
              </div>
            </div>
            <div class="card-body">
              <!-- <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote> -->
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>


  </div>
</div>

<!--end::Portlet-->
