<div>
  <span>
    <mat-form-field>
      <mat-label>年份</mat-label>
      <mat-select (selectionChange)="selectYearEvent()" [(value)]="switchYear">
        <mat-option value="">未選取</mat-option>
        <mat-option value="ALL">全年份</mat-option>
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="margin-left">
    <mat-form-field>
      <mat-label>分隊</mat-label>
      <mat-select (selectionChange)="selectSquadEvent()" [(value)]="switchSquad">
        <mat-option value="">未選取</mat-option>
        <mat-option value="ALL">全分隊</mat-option>
        <mat-option *ngFor="let squad of squads" [value]="squad.value">
          {{squad.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>


  <span class="margin-left">
    <mat-slide-toggle class="heatmap-toggle" (change)="slideHeatmapChnage($event.checked)">開啟熱區圖</mat-slide-toggle>
  </span>
</div>
